.btn_claro:hover {
    background-color:var(--primary-color-hover);
  }

.btn_azul:hover {
    background-color: var(--secundary-color-hover);
  }

@media screen and (max-width:1271px) {
  body {
    flex-direction: column;
    align-items: stretch;
    box-sizing: content-box;
  }
  header{
    width:32px;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 104px 0px 0px 0px;
    gap:0px;
  }
  .slider{
    width:100%;
  }
  textarea{
    field-sizing: content;
  }
  .textbox {
    width: 100%;
    height: 60vh;
  }
  .container { 
    width: 100%;
    align-items: center;
    padding-top: 0px;
  }
  #muñeco {
    display:none;
  }
}

@media screen and (max-width:759px) {
  body {
    padding: 16px;
  }
  main{
    width:100%;
  }
  .botones{
    flex-direction: column;
  }
  .textbox {
    height: 45vh;
  }
  .msj_footer {
    align-items: center;
  }
  .container { 
    width: 100%;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
}